 /* body{
background-color: white;
}  */
h1{
    text-align: center;
    color: rgb(95, 156, 2);
    font-family: 'Arial';
    /* font-size: 13px; */
}
p{
    font-family: 'Arial';
font-size: 15px;
position: relative;
left: 300px;
top: -150px;
/* right: -200px; */
width: 400px;

}
.w{
    display: block;
    align-items: center;
    justify-content: space-between;
    position: relative;
    left: 300px;
}

@media only screen and (max-width: 768px) {
    p {
        left: 0;
        top: 0;
        width: 100%;
        position: static;
    }
    .w {
        left: 0;
        position: static;
    }
}